# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
dummy_token_list
empty.py
out.txt
tmp*
.eggs/
.hypothesis/
.idea
__pycache__/
check_autopep8
.coverage
.coverage.*
htmlcov
hf_cache
coverage.xml*
.vscode*
*.vim
*.swp
*.nfs*
out/config.yaml
doc/vuepress/src/.vuepress/.temp
doc/vuepress/src/.vuepress/.cache
dist
simulation_train/
simulation_train
simulation_tmp/
simulation_validation/
simulation_validation
*.egg-info/
data
exp/
data/
*.tgz

